:root {
  /* ^ font */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* ^ text colors */
  --name-color: #212121;
  --descr-color: #757575;
  --activ-color: #2196f3;
  --second-color: #ffffff;

  /* ^ background colors; */
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --activ-bg-color: #2196f3;
  --second-bg-color: #f5f4fa;

  /* ^ grid items */
  --items: 1;
  --indent: 30px;
}

body {
  font-family: var(--main-font);
  color: var(--name-color);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* outline: 1px solid red; */

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
^===================================
^-= Grid for collection of elements =-
^===================================
*/
.grid {
  display: flex;
  flex-wrap: wrap;

  gap: var(--indent);
}

.grid-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/*
^===================================
^-= Buttons =-
^===================================
*/
.button {
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  border: none;
}

.button-mode-light {
  color: var(--name-color);
  background-color: var(--second-bg-color);
  padding: 6px 22px;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-active {
  padding: 6px 25px;
}

.button-mode-light:hover,
.button-mode-light:focus,
.button-active {
  color: var(--second-color);
  background-color: var(--activ-bg-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.button-mode-durk {
  color: var(--second-color);
  background-color: var(--activ-bg-color);
  padding: 10px 32px;
  border-radius: 4px;

  display: block;
  margin-right: auto;
  margin-left: auto;

  min-width: 216px;
  min-height: 50px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-mode-durk:hover,
.button-mode-durk:focus {
  color: var(--name-color);
  background-color: var(--second-bg-color);
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

/*
^==================================
^-= Header section =-
^==================================
*/

/* ^ logo */

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: auto;
}

.logo {
  color: var(--activ-color);
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.header-logo {
  margin-right: 93px;
}

.half-logo {
  color: #000;
}
.half-logo-footer {
  color: #fff;
}

/* ^ Navigation */

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link,
.header-mailphone {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.28px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link,
.navigation-link:hover,
.navigation-link:focus,
.header-mailphone:hover,
.header-mailphone:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--activ-color);
}

/* .navigation-link:hover::after, */
.active-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--activ-color);
}

/* ^ Mail & Phone */
.header-list {
  display: flex;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0px;
}

.header-mailphone {
  display: flex;
  align-items: center;
  color: var(--descr-color);
}

.svg-icons {
  fill: currentColor;
  margin-right: 10px;
}

/*
^===================================
^-= Hero section =-
^===================================
*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--second-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/*
^==================================
^-= Modal form =-
^==================================
*/

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-modal-group,
.form-modal-label,
.form-modal-input {
  display: block;
}

.form-modal-group {
  position: relative;
  margin-bottom: 10px;
  /* outline: 1px solid red; */
}

.form-modal-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* font-size: 14px; */
  padding: 12px 12px 12px 42px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus {
  border: 1px solid var(--activ-bg-color);
}

.form-modal-icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
  fill: #212121;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus + .form-modal-icon {
  fill: var(--activ-bg-color);
}

.form-textarea {
  resize: none;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #2196f3;
}

.form-textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/** Checkbox style */

.form-policy-group {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 30px;
}
.custom-checkbox-icon {
  fill: #fff;
}
.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .custom-checkbox {
  outline: 2px solid #2196f3;
}

.checkbox:checked + .custom-checkbox {
  outline: 2px solid #2196f3;
  background-color: #2196f3;
}

.custom-checkbox-icon {
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.form-policy-description {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.terms {
  color: #2196f3;
  text-decoration: underline;
}

/** Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;

  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.backdrop .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
}

.modal-btn-icon {
  display: block;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: var(--activ-bg-color);
}

/*
^==================================
^-= Cards Section =-
^==================================
*/

.cards-item {
  --items: 4;
}
.cards-ico-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  width: 270px;
  height: 120px;

  background: #f5f4fa;
  margin-bottom: 30px;
}

.cards-item-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cards-item-description {
  color: var(--descr-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/*
^==================================
^-= Section What do we do =-
^==================================
*/
.whatdowedo {
  /* padding-top: 94px; */
  padding-bottom: 94px;
}

.whatdowedo-item-box {
  --items: 3;
  position: relative;
}

.whatdowedo-item-box::before {
  content: '';
  display: block;
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.whatdowedo-item-subtitle {
  position: absolute;
  bottom: 0;
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/*
^==================================
^-= Our team section =-
^==================================
*/
.our-team {
  background-color: var(--second-bg-color);
}

.our-team-item {
  --items: 4;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--header-bg-color);
}
.our-team-item:last-child {
  margin-right: 0px;
}

.our-team-item-name {
  color: var(--name-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.our-team-item-position {
  color: var(--descr-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.our-team-person {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*
^==================================
^-= Social icons =-
^==================================
*/
.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team {
  background-color: #ffffff;
}

.social-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon-footer {
  fill: #fff;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .socials-icon,
.social-link:focus .socials-icon {
  fill: #fff;
}

/*
^==================================
^-= Regular customers section =-
^==================================
*/
.regular-customers-list {
  display: flex;
}

.regular-customers-item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link:hover,
.regular-customers-link:focus {
  border-color: #2196f3;
}

.regular-customers-link:hover .regular-customers-icon,
.regular-customers-link:focus .regular-customers-icon {
  fill: #2196f3;
}

/*
^==================================
^-= Portfolio section =-
^==================================
*/

.portfolio-item-slider {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden-description {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 0;
  top: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-hidden-description {
  transform: translateY(0);
}

.portfolio-name {
  color: var(--name-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.portfolio-description {
  color: var(--descr-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons-item {
  margin-right: 8px;
}

.portfolio-item {
  --items: 3;
  background-color: var(--header-bg-color);
}

.portfolio-item-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio-wrapper {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

/*
^==================================
^-= Footer section =-
^==================================
*/
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.address {
  color: var(--second-color);
  font-family: Roboto;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.42px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.join {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.join-title,
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;

  margin-bottom: 20px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  /* margin-left: auto; */
}

.form-subscribe {
  /* position: relative; */
  display: flex;
  color: var(--header-bg-color);
}

.form-subscribe-input {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  color: #ffffff;
  outline: transparent;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;
}

.form-subscribe-input::placeholder {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe-button {
  position: relative;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  padding: 10px 62px 10px 28px;
}

.form-subscribe-button-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: currentColor;
}
