/*
==================================
-= Cards Section =-
==================================
*/

.cards__item {
  --items: 4;
}
.cards__inner {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  width: 270px;
  height: 120px;

  background: var(--second-bg-color);
  margin-bottom: 30px;
}

.cards__title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cards__description {
  color: var(--descr-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
}
